/*!
 * Layout genneral 
 * Copyright DQM 2021.
 * Licensed final
 */

// ----- @import all----- //
@import "bootstrap";
@import "bootstrap-grid";
@import "bootstrap-reboot";
@import "mixins";
@import "core";
@import "plugins";
@import "reset-intervale";
@import "pages";
@import "partials";
@import "partials/sprites";


/*----- animation image -----*/

@-webkit-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*1. Breakpoint up*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

// Example usage:
@include media-breakpoint-up(sm) {
  .some-class {
    display: block;
  }
}
/*2. Breakpoint down*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@include media-breakpoint-down(xs) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(lg) {}
/*3. Breakpoint only*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}