//-------------------------------------
//  Reset a.k.a @include global-reset
//-------------------------------------
// Based on Eric Meyer's reset 2.0 Global reset rules. 
// For more specific resets, use the reset mixins provided below
// http://meyerweb.com/eric/tools/css/reset/

/*----- reset -----*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
img {
  vertical-align: top
}
/*----- common -----*/
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: map-get($global-color, b);
  background-color: map-get($global-color, body);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Be Vietnam Pro', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-weight: 500;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  outline: none !important;
  transition: background-color 5000s ease-in-out 0s;
}
a {
  &:link,
  &:visited,
  &:hover,
  &:focus {
    //@include transition(all 0.3s ease-in-out);
    text-decoration: none;
    outline: none;
  }
  &:focus {
    outline: none;
    // outline: thin dotted;
    // outline: 5px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
  }
}
.btn,
.btn:hover,
.btn:active {
  // @include transition(all 0.3s ease-in-out);
  outline: 0 !important;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  -ms-interpolation-mode: bicubic;
  -webkit-animation: smooth-image 1.2s;
  -moz-animation: smooth-image 1.2s;
  animation: smooth-image 1.2s;
}
img:not([src]):not([srcset]) {
  visibility: hidden
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden
  }
}
.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.img {
  opacity: 0;
  visibility: hidden;
  position: relative;
  display: block;
  overflow: hidden
}

.img::before {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(10%, #fff), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 10%, #fff 100%);
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 110%;
  -webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
  transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
  transition: transform 1s cubic-bezier(.19, 1, .22, 1);
  transition: transform 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1s cubic-bezier(.19, 1, .22, 1)
}

.img.loaded:not(.mask-cover) {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s;
  transition: opacity 1s
}

.img.loaded:not(.mask-cover):before {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

.full-width-dark .img:before {
  background: -webkit-gradient(linear, left top, right top, from(rgba(30, 33, 34, 0)), color-stop(10%, #1e2122), to(#1e2122));
  background: linear-gradient(to right, rgba(30, 33, 34, 0) 0, #1e2122 10%, #1e2122 100%)
}

/*************************************
**************************************
Accessiility
**************************************
**************************************/
/* Reset background
================================================== */
.bgcolor-black #wrapper,
.bgcolor-black #wrapper *,
.bgcolor-blue #wrapper,
.bgcolor-blue #wrapper *,
.bgcolor-black #footer,
.bgcolor-black #footer *,
.bgcolor-blue #footer,
.bgcolor-blue #footer *,
.bgcolor-black #sub-menu-sp,
.bgcolor-black #sub-menu-sp *,
.bgcolor-blue #sub-menu-sp,
.bgcolor-blue #sub-menu-sp *,
.bgcolor-blue .menu-floating,
.bgcolor-blue .menu-floating *,
.bgcolor-black .menu-floating,
.bgcolor-black .menu-floating *{
    background-image: none !important;
    list-style-image: none !important;
}
/******* bg:blue, text:yellow, link:white ******/
.bgcolor-blue #wrapper,
.bgcolor-blue #wrapper *,
.bgcolor-blue #footer,
.bgcolor-blue #footer *,
.bgcolor-blue #sub-menu-sp,
.bgcolor-blue #sub-menu-sp *,
.bgcolor-blue .menu-floating,
.bgcolor-blue .menu-floating * {
    color: #FFFF00 !important;
    background-color: #213482 !important;
    border-color: #FFFF00 !important;
}

.bgcolor-blue #wrapper a,
.bgcolor-blue #wrapper a span,
.bgcolor-blue #wrapper button,
.bgcolor-blue #wrapper input[type="submit"],
.bgcolor-blue #wrapper input[type="button"],
.bgcolor-blue #wrapper input[type="reset"],
.bgcolor-blue #mainvisual .mainvisual-gallery .mainvisual-caption:after {
    color: #FFFFFF !important;
    background-color: transparent !important;
}
/******* bg:black,text:yellow,link:white ******/

.bgcolor-black #wrapper,
.bgcolor-black #wrapper *,
.bgcolor-black #footer,
.bgcolor-black #footer *,
.bgcolor-black #sub-menu-sp,
.bgcolor-black #sub-menu-sp *,
.bgcolor-black .menu-floating,
.bgcolor-black .menu-floating *{
    color: #FFFF00 !important;
    background-color: #000000 !important;
    border-color: #FFFF00 !important;
}

.bgcolor-black #wrapper a,
.bgcolor-black #wrapper a span,
.bgcolor-black #wrapper button,
.bgcolor-black #wrapper input[type="submit"],
.bgcolor-black #wrapper input[type="button"],
.bgcolor-black #wrapper input[type="reset"],
.bgcolor-black #mainvisual .mainvisual-gallery .mainvisual-caption:after {
    color: #FFFFFF !important;
    background-color: transparent !important;
}
/* small
================================================== */
.font-size-small {
  font-size: 75% !important;
}

/* big
================================================== */
.font-size-big {
  font-size: 125% !important;
}
