/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/
// $grid-breakpoints: (
//   xs: 0, Extra small screen / phone
//   sm: 576px, Small screen / phone
//   md: 768px, Medium screen / tablet
//   lg: 992px, Large screen / desktop
//   xl: 1200px, Extra large screen / wide desktop
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ); 


/* 
media-breakpoint-up: min-width
media-breakpoint-down: max-width 
@include media-breakpoint-up(sm) {
  text-align: left;
}
@include media-breakpoint-down(sm){
  text-align: right;
}
*/
.front-top{
  @include clearfix();
  @include box-shadow(0 2px 4px rgba(0,0,0,0.05));
  position: relative;
  z-index: 100;
  padding: 12px 0;
  border-bottom: 1px solid #D4DBE6;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  .container{
    padding: 0 24px;
    @media screen and (max-width: 1300px) {
      padding: 0;
    }
  }
}
.row-pref{
  @include clearfix();
  @include flexbox();
  .col-pref,
  .col-select,
  .col-data{
    float: left;
    @media screen and (max-width: 1300px) {
      float: none;
    }
  }
  .col-pref{
    width: 18%;
    @media screen and (max-width: 1300px) {
      padding-left: 15px;
      width: 100%;
    }
  }
  .col-data{
    width: 22%;
    @media screen and (max-width: 1300px) {
      padding-left: 15px;
      margin-bottom: 7px;
      width: 100%;
    }
  }
  .col-select{
    width: 60%;
    @media screen and (max-width: 1300px) {
      margin-bottom: 7px;
      width: 100%;
    }
  }
  @media screen and (max-width: 1300px) {
    display: block;
  }
}
.pref-panel{
  padding-top: 5px;
  h2, p{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  h2{
    font-size: 2rem;
    font-weight: 600;
    color: map-get($global-color, c);
  }
  p{
    padding-top: 6px;
    font-size: 1.3rem;
    color: map-get($global-color, b);
  }
}
.filter-search{
  @include clearfix();
  padding: 0 15px;
  border-left: 1px solid #D4DBE6;
  border-right: 1px solid #D4DBE6;
  .input-group{
    justify-content: center;
    .input-group-btn{
      padding: 0 3px;
      @media screen and (max-width: 800px) {
        margin-bottom: 5px;
      }
    }
  }
  select.form-control:not([size]):not([multiple]){
    @include border-radius(0);
    border: 0;
    height: 36px;
    font-size: 1.4rem;
  }
  select.form-control:focus{
    outline: 0;
  }
  .btn-search-filter{
    margin-left: 18px;
  }
  .custom-select{
    border: 0;
    height: 36px;
    font-size: 1.4rem;
    max-width: 145px;
    white-space: nowrap;
  }
  @media screen and (max-width: 1300px) {
    border: 0;
    padding: 0;
  }
}
.action-tabs{
  float: right;
  padding-left: 15px;
  .nav-tabs {
    border-bottom: 0;
    justify-content: center;
    .nav-link{
      @include border-radius(0);
      padding: 7px 5px 5px;
      min-width: 129px;
      font-size: 1.3rem;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #D4DBE6;
      font-weight: 500;
      color: map-get($global-color, b);
      &.active{
        color: #FFFFFF;
        background-color: #12B973;
        border-color: #12B973;
      }
    }
    li{
      &:first-child{
        .nav-link{
          @include border-radius(6px 0 0 6px);
          border-right: 0;
        }
      }
      &:last-child{
        .nav-link{
          @include border-radius(0 6px 6px 0);
          border-left: 0;
        }
      }
    }
  }
  @media screen and (max-width: 1300px) {
    float: none;
    padding-left: 0;
  }
}
.section-operating{
  @include clearfix();
  padding: 24px 24px 15px;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  @media screen and (max-width: 800px) {
    padding: 24px 15px 15px;
  }
}
.row-operating{
  @include clearfix();
  @include flexbox();
  .col-pref-sum,
  .col-population,
  .col-action{
    float: left;
  }
  .col-pref-sum{
    padding-right: 10px;
    width: 29%;
    @media screen and (max-width: 1120px) {
      width: 27%;
    }
    @media screen and (max-width: 1050px) {
      width: 50%;
    }
    @media screen and (max-width: 450px) {
      margin-bottom: 5px;
      padding-right: 0;
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .col-population{
    padding-right: 30px;
    width: 33%;
    @media screen and (max-width: 1120px) {
      padding-right: 15px;
      width: 29%;
    }
    @media screen and (max-width: 1050px) {
      padding: 0 10px;
      width: 50%;
    }
    @media screen and (max-width: 450px) {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }
  .col-action{
    width: 38%;
    @media screen and (max-width: 1120px) {
      width: 44%;
    }
    @media screen and (max-width: 1050px) {
      clear: both;
      float: none;
      padding: 0 10px;
      width: 100%;
    }
    @media screen and (max-width: 450px) {
      padding: 0;
    }
  }
  .col-population{
    text-align: center;
    @media screen and (max-width: 1050px) {
      text-align: right;
    }
    @media screen and (max-width: 450px) {
      text-align: center;
    }
  }
  @media screen and (max-width: 1050px) {
    display: block;
  }
}
.pref-media{
  @include clearfix();
  .pref-sum-total{
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
    color: map-get($global-color, c);
  }
  .district-sum-total{
    margin-bottom: 0;
    font-size: 1.4rem
  }
}
.population-box{
  @include clearfix();
}
.control-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  li{
    float: left;
    margin-right: 24px;
    &:last-child{
      margin-right: 0;
    }
    @media screen and (max-width: 1050px) {
      margin-right: 15px;
      float: none;
      display: inline-block;
    }
  }
  @media screen and (max-width: 1050px) {
    padding-top: 10px;
    float: none;
    text-align: center;
  }
}
.population-box{
  margin: 0;
  padding-left: 42px;
  display: inline-block;
  background: url(#{$base-url}/icon-ds.svg) no-repeat left center scroll;
  span{
    display: block;
    text-align:left;
  }
  .population-name{
    font-size: 1.4rem;
    font-weight: 400;
  }
  .population-sum{
    font-weight: 500;
    font-size: 1.6rem;
    color: map-get($global-color, c);
  }
}
.section-emergency{
  @include clearfix();
  padding: 0 24px 24px;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  @media screen and (max-width: 1050px) {
    padding: 0 15px 15px;
  }
}
.emergency-box{
  @include clearfix();
  @include flexbox();
  align-items: center;
  @include border-radius(6px);
  padding: 20px 10px;
  border: 1px solid #D4DBE6;
  color: map-get($global-color, b);
  background-color: #F4F6FA;
  font-size: 1.4rem;
  .emergency-point,
  .emergency-measure,
  .emergency-construct,
  .emergency-button{
    padding: 0 10px;
    float: left;
    @media screen and (max-width: 800px) {
      float: none;
    }
  }
  .emergency-point{
    width: 20%;
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 640px) {
      padding-bottom: 10px;
      width: 100%;
    }
  }
  .emergency-measure{
    width: 35%;
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
  .emergency-construct{
    width: 32%;
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
  .emergency-button{
    width: 13%;
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 640px) {
      padding-top: 10px;
      width: 100%;
      text-align: center;
    }
  }
  @media screen and (max-width: 640px) {
    display: block;
  }
}
.emergency-point{
  .para-risk{
    margin-bottom: 0;
  }
  .emergency-total{
    .total-lg{
      font-size: 2.4rem;
      font-weight: 600;
      color: map-get($global-color, e);
    }
    .total-sm{
      font-size: 1.4rem;
    }
  }
}
.measure-num,
.measure-name{
  display: inline-block;
  vertical-align: top;
}
.measure-num{
  min-width: 62px;
  font-weight: 600;
  color: map-get($global-color, c);
}
.emergency-button{
  a{
    padding: 2px 17px 0 0;
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: map-get($global-color, active);
    background: url(#{$base-url}/icon-arr-right-blue.svg) no-repeat right center scroll;
    &:hover,
    &:focus{
      text-decoration: underline
    }
  }
}
.measure-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
/*====================================
iframe
=====================================*/
.iframe-map {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;

  .iframe-inner {
    position: relative;
    //padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
    //height: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;

    #map-openlayers,
    .map-openlayers,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.section-disaster{
  @include clearfix();
  margin-bottom: 24px;
  &.disaster-reset{
    margin-bottom: 0;
  }
  @media screen and (max-width: 1050px) {
    margin-bottom: 15px;
  }
}
.disaster-panel{
  @include clearfix();
  @include border-radius(6px);
  @include box-shadow(0 4px 12px 0 rgba(0, 0, 0, 0.03));
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  border: 1px solid #D4DBE6;
  .disaster-content{
    position: relative;
    overflow: hidden;
  }
  .disaster-inner{
    @include clearfix();
    padding: 5px 19px 15px;
    &.disaster-bottom{
      padding-bottom: 5px;
    }
  }
  .progress{
    @include border-radius(6px);
    height: 8rem;
    .progress-bar{
      font-size: 1.4rem;
      font-weight: 700;
      &.bg-green{
        background-color: map-get($global-color, bg_green);
      }
      &.bg-blue{
        background-color: map-get($global-color, bg_blue);
      }
      &.bg-yellow{
        background-color: map-get($global-color, bg_yellow);
      }
      &.bg-red{
        background-color: map-get($global-color, bg_red);
      }
    }
  }
  .accordion-menu {
		padding: 0;
    color: map-get($global-color, b);
		background-color: map-get($global-color, a);
		 .accordion-item{
			padding: 0;
      .accordion-title{
        p{
          margin-bottom: 0;
        }
        a{
          position: relative;
          position: relative;
          padding: 12px 20px 12px 0;
          display: block;
          color: #3267C4;
          border-bottom: 1px solid #D4DBE6;
          &:after{
            position: absolute;
            top: 50%;
            right: 2px;
            margin-top: -6px;
            content: '';
            width: 7px;
            height: 12px;
            color: inherit;
            background: transparent url(#{$base-url}/accordion-arrow.svg) no-repeat right center scroll;
          }
          &:hover,
          &:focus{
            color: map-get($global-color, bg_red)
          }
        }
      }
      .accordion-content{
        padding: 5px 10px;
        display: none;
      }
			&.active{
        border-bottom: 1px solid #D4DBE6;
				 .accordion-title{
					a{
            color: map-get($global-color, bg_red);
            &:after{
              @include transform(rotate(90deg));
            }
          }
				}
			}
      &:first-child{
        border-top: 1px solid #D4DBE6;
      }
      &:last-child{
        border-bottom: 0;
        .accordion-title{
          a{
            border-bottom: 0;
          }
        }
        .accordion-content{
          padding-bottom: 0;
        }
        .accordion-list{
          margin-bottom: 0
        }
      }
		}
	}
}
.accordion-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 10px 0;
  li{
    padding: 3px 0;
    a{
      padding-left: 15px;
      color: map-get($global-color, b);
      text-decoration: none;
      display: inline-block;
      background: url(#{$base-url}/accordion-arrow.svg) no-repeat 0 5px scroll;
      &:hover,
      &:focus{
        text-decoration: underline
      }
    }
  }
}
.main-heading{
  @include clearfix();
  .main-title{
    position: relative;
    padding: 18px 10px 14px 19px;
    h1,
    h2{
      margin: 0;
      font-size: 2rem;
      font-weight: 600;
      color: map-get($global-color, title);
    }
  }
}
.data-tabs{
  @include clearfix();
  overflow: hidden;
  .tab-front{
    @include clearfix();
  }
  .tab-content{
    @include clearfix();
    padding: 24px;
    @media screen and (max-width: 1050px) {
      padding: 15px;
    }
  }
}
.tab-top{
  @include clearfix();
  border-bottom: 1px solid #E7EAEC;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  .nav-tabs{
    border-bottom: 0;
    justify-content: center;
    li{
      position: relative;
      padding: 0 5px;
      a{
        position: relative;
        padding: 0 0 10px;
        font-size: 1.4rem;
        color: map-get($global-color, c);
        border: 0;
        border-bottom: 1px solid #D4DBE6;
        font-weight: 400;
        &:after {
          @include border-radius(0);
          @include transform(translate3d(0, 0, 0));
          @include transition(0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55));
          position: absolute;
          left: 50%;
          right: 50%;
          height: 1px;
          bottom: -1px;
          content: "";
          background-color: map-get($global-color, active);
        }
        &:hover,
        &:focus{
          color: map-get($global-color, active);
          &:after {
            left: 0;
            right: 0;
          }
        }
        &.active,
        &.current-menu-item,
        &.current-category-ancestor,
        &.current-post-parent {
          font-weight: 600;
          color: map-get($global-color, active);
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
      @media screen and (max-width: 1250px) {
        margin-bottom: 14px;
      }
    }
  }
}
.executive-wrap{
  @include clearfix();
  padding: 24px;
  @media screen and (max-width: 1050px) {
    padding: 15px;
  }
}
.datatable{
  @include clearfix();
  position: relative;
  overflow: hidden;
  .table{
    margin-bottom: 0;
    font-size: 1.4rem;
    th,td{
      padding: 13px 10px 11px 0;
      border-top: 0;
      border-bottom: 1px solid #D4DBE6;
    }
    thead th{
      border-top: 0;
      border-bottom: 1px solid #ADB5C0;
      color: #0F1218;
    }
    td{
      min-width: 70px;
      p{
        margin-bottom: 0;
      }
    }
    .tr-red{
      td{
        background-color: #fff7e9;
      }
    }
    .tr-pink{
      td{
        background-color: #fceded;
      }
    }
    .tr-blue{
      td{
        background-color: #ebf0fa;
      }
    }
  }
  &.table-scroll{
    .table-responsive{
      position: relative;
      overflow: auto;
      max-height: 600px;
      cursor: move;
    }
    .table{
      min-width: 1040px;
      tr{
        td{
          min-width: 150px;
          white-space: nowrap;
          &:first-child{
            min-width: 200px;
          }
        }
      }
    }
  }
}
.table-responsive{
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track{
    @include border-radius(10px);
    @include box-shadow(inset 0 0 6px rgba(0,0,0,0.2));
    background-color: #FFFFFF;
  }
  &::-webkit-scrollbar{
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    width: 8px; /* width of vertical scrollbar */
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    @include border-radius(10px);
    @include box-shadow(inset 0 0 6px rgba(0,0,0,0.2));
    background-color: #e3e7eb;
  }
}
.affected-box{
  @include clearfix();
  @include flexbox();
  .datatable,
  .chart-area{
    float: left;
    @media screen and (max-width: 1050px) {
      float: none;
    }
  }
  .datatable{
    padding-right: 20px;
    width: 65%;
    @media screen and (max-width: 1050px) {
      padding-right: 0;
      width: 100%;
    }
  }
  .chart-area{
    padding-left: 20px;
    width: 35%;
    @media screen and (max-width: 1050px) {
      padding-left: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 1050px) {
    display: block;
  }
}
.parameter-chart{
  @include clearfix();
  font-size: 1.3rem;
  font-weight: 400;
  color: map-get($global-color, b);
}
.parameter-list{
  @include clearfix();
  margin: 0;
  padding: 0;
  li{
    margin-right: 25px;
    display: inline-block;
  }
}
.parameter-wrap{
  margin: 0;
  .parameter-color{
    @include border-radius(1px);
    margin: 3px 7px 0 0;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    &.color-blue{
      background-color: #3269cc;
    }
    &.color-red{
      background-color: #e2494a;
    }
    &.color-yellow{
      background-color: #ffb420;
    }
    &.color-green{
      background-color: #21b967;
    }
    .parameter-name{
      display: block;
    }
  }
  @media screen and (max-width: 1050px) {
    margin-bottom: 10px;
  }
}
.chart-note{
  text-align: right;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: map-get($global-color, b);
  @media screen and (max-width: 1050px) {
    text-align: left;
  }
}
.table-note{
  text-align: right;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: map-get($global-color, b);
}
.gloss-panel{
  @include clearfix();
  padding-top: 15px;
  .parameter-chart,
  .gloss-update{
    float: left;
    @media screen and (max-width: 1050px) {
      float: none;
    }
  }
  .parameter-chart{
    width: 70%;
    padding-right: 10px;
    @media screen and (max-width: 1050px) {
      width: 100%;
      padding-right: 0;
    }
  }
  .gloss-update{
    width: 30%;
    @media screen and (max-width: 1050px) {
      width: 100%;
    }
  }
}
.diagram-category{
  @include clearfix();
}
.diagram-list{
  @include clearfix();
  @include equal_height();
  margin: 0 -12px;
  padding: 0;
  list-style: none;
  .diagram-item{
    padding: 0 12px;
    margin-bottom: 25px;
    float: left;
    width: 50%;
    @media screen and (max-width: 1050px) {
      margin-bottom: 15px;
      float: none;
      width: 100%;
    }
  }
}
/*Height Chart*/
.leaflet-wrap{
  @include clearfix();
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc((100% - 1440px)/2);
  z-index: 1;
  height: 100%;
  width: 496px;
  @media screen and (max-width: 1280px) {
    width: 400px;
    left: 0;
  }
  @media screen and (max-width: 800px) {
    position: relative;
    top: auto !important;
    height: 450px;
    width: 100%;
  }
  @media screen and (max-width: 390px) {
    height: 605px;
  }
}
#leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  outline: none;
}
.tracking-panel{
  @include clearfix();
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 50;
  @media screen and (max-width: 390px) {
    padding: 10px;
  }
}
.tracking-action{
  @include clearfix();
  .tracking-button{
    float: left;
  }
  .map-note{
    float: right;
  }
}
.map-note{
  @include clearfix();
  @include border-radius(6px);
  padding: 10px 10px 7px;
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
  width: 172px;
  .level-label{
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .level-one,
  .level-two,
  .level-three,
  .level-four{
    margin-right: 4px
  }
  .level-one,
  .level-two,
  .level-three,
  .level-four,
  .level-five{
    @include border-radius(3px);
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 16px;
  }
  .level-one{
    background-color: #E34145;
  }
  .level-two{
    background-color: #FF7075;
  }
  .level-three{
    background-color: #FF9C71;
  }
  .level-four{
    background-color: #FFCE75;
  }
  .level-five{
    background-color: #BCDFA2;
  }
  .risk-level-hight,
  .risk-level-short{
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
  }
  .risk-level-hight{
    @include clearfix();
  }
}
.box-paramet{
  @include clearfix();
  position: absolute;
  left: 0;
  right: 0;
  bottom: 85px;
  z-index: 50;
  padding: 0 20px;
  max-width: 396px;
  display: none;
  .paramet-wrap{
    @include clearfix();
    @include border-radius(6px);
    @include box-shadow(0 4px 12px 0 rgba(0,0,0,0.07));
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    border: 1px solid #D4DBE6;
  }
  .paramet-inner{
    @include clearfix();
    padding: 20px 20px 10px;
  }
  .group-footer{
    margin-bottom: 0 !important;
    padding: 15px;
    border-top: 1px solid #D4DBE6;
  }
  .form-group {
    @include clearfix();
    margin-bottom: 10px;
    .label-control {
      padding: 0;
      margin-bottom: 3px;
      display: block;
      color: map-get($global-color, b);
      font-weight: 400;
      font-size: 1.4rem;
    }
    .form-input{
      margin-left: 0;
      .contact-button{
        text-align: center;
      }
    }
  }
  .form-control {
    @include border-radius(3px);
    font-size: 1.4rem;
    border: 1px solid #D4DBE6;
    padding: 3px 9px;
    height: 32px;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    &:focus{
      @include box-shadow(0 0 0 0.2rem rgba(33, 52, 130, 0.25));
      border-color: map-get($global-color, active);
      outline: 0;
    }
  }
  select.form-control:not([size]):not([multiple]),
  select.form-control {
    height: 40px !important;
  }
  .has-error{
    .label-control{
      color: map-get($global-color, d);
    }
    .form-control{
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      border-color: map-get($global-color, d);
      &:focus{
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px map-get($global-color, d));
        border-color: map-get($global-color, d);
        outline: 0;
      }
    }
    .paragraph-error{
      margin: 7px 0 0;
      color: map-get($global-color, d);
      font-size: 100%;
    }
  }
  .row{
    margin: 0 -7px;
    .col-xs-6{
      padding: 0 7px;
      flex: 0 0 50%;
      max-width: 50%;
      @media screen and (max-width: 390px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 390px) {
    padding: 0 10px;
    bottom: 74px;
  }
}
.radio-list{
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    margin-right: 18px;
    display: inline-block;
    vertical-align: top;
    &:last-child{
      margin-right: 0;
    }
    .radio__regular{
      @media screen and (max-width: 390px) {
        padding: 4px 0;
      }
    }
  }
}
#affected-chart1,
#affected-chart2{
  width: 100%;
  height: 225px;
}
#graph-boundary,
#graph-vulnerable,
#graph-affect,
#graph-social-house1,
#graph-social-house2,
#graph-irrigation,
#graph-hydropower {
  width: 100%;
  height: 320px;
}
/*************************************
**************************************
No Javascript
**************************************
**************************************/
.no-js #main-visual .slick-slides {
  visibility: visible;
  opacity: 1;
  max-height: 530px;
  overflow-y: auto
}
