/*************************************
**************************************
These are the styles for
the search result page
**************************************
**************************************/
.modal-general{
  .modal-header{
    padding: 30px 30px 0;
    border-bottom: 0;
    .close{
      margin: 0;
      padding: 3px;
      color: #CFCFD3;
      @media(max-width: 767px) {
        top: 15px;
        right: 15px;
      }
    }
    .modal-title{
      font-size: 3rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #35373D;
      line-height: 1.2;
    }
    @media(max-width: 767px) {
      padding: 43px 20px 10px;
    }
  }
  .modal-body{
    padding: 20px 30px 30px;
    .close{
      margin: 0;
      padding: 3px;
    }
    @media(max-width: 767px) {
      padding: 20px 20px 15px;
    }
  }
  .modal-content{
    @include border-radius(8px);
    @include box-shadow(0 4px 22px 0 rgba(0,0,0,0.12));
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
  }
  .modal-footer{
    padding: 0 30px 30px;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
    justify-content: center;
    text-align: center;
    border: 0;
    p{
      margin-bottom: 0;
      &.modal-footer-paragraph{
        font-size: 1.3rem;
      }
    }
  }
}
.modal-button{
  @include clearfix();
  text-align: center;
}
.modal-supplier-form {
  .form-group{
    margin-bottom: 2rem;
  }
  textarea.form-control{
    resize: vertical;
    height: 114px;
    overflow-y: auto;
  }
  .btn-service-send{
    min-width: 180px;
    display: inline-block;
  }
}
.form-duality{
  @include clearfix();
  .label-form{
    float: left;
  }
  .forgot-link{
    float: right;
  }
}
.link-bold{
  font-weight: 700;
}
.modal-login,
.modal-registries{
  .checkbox__styled__label{
    line-height: 1.3;
  }
  .size-label{
    font-size: 1.3rem;
    color: #616570;
    font-weight: 500;
    text-transform: inherit;
    a{
      color: map-get($global-color, g);
      &:hover,
      &:focus{
        color: map-get($global-color, active);
      }
    }
  }
}
.label-form{
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  color: #35373D;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
}
.paragraph-forgot{
  margin-bottom: 1.1rem;
}
.forgot-link{
  padding: 0;
  text-align: right;
  font-size: 1.3rem;
  color: #B54512;
  a{
    color: #B54512;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus{
      color: map-get($global-color, active);
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
.link-login-modal,
.link-registration,
a.link-registration,
a.link-login-modal{
  color: map-get($global-color, active);
  background-color: transparent;
  font-weight: 500;
  text-decoration: none;
  &:hover,
  &:focus{
    color: map-get($global-color, active);
    background-color: transparent;
    text-decoration: underline;
  }
}
.modal-form {
  .form-group {
    @include clearfix();
    margin-bottom: 0;
    .form-input{
      margin-bottom: 1.7rem;
      &.form-input-email{
        text-align: center;
        .btn-contact{
          text-align: center;
          display: block;
          width: 100%;
        }
      }
    }
  }
  .form-control {
    @include border-radius(2px);
    font-size: 1.5rem;
    border: 1px solid #D5D7DF;
    padding: 0.7rem 1rem;
    height: 5rem;
    color: map-get($global-color, a);
    &:focus{
      @include box-shadow(0 0 0 0.2rem rgba(47, 181, 18, 0.25));
      border-color: map-get($global-color, active);
      outline: 0;
    }
  }
  textarea.form-control{
    resize: vertical;
    height: 114px;
    overflow-y: auto;
  }
  select.form-control:not([size]):not([multiple]),
  select.form-control {
    height: 4rem !important;
  }
  .checkbox__styled{
    padding: 0;
  }
  @media(max-width: 767px) {
    margin-bottom: 0;
  }
}
.form-submit{
  margin-top: 2rem;
  .btn-contact{
    text-align: center;
    display: block;
    width: 100%;
  }
}
.modal-contact{
  .modal-body{
    position: relative;
    padding: 55px 30px 40px;
  }
}
.modal-notification{
  .modal-body{
    position: relative;
    padding: 55px 30px 50px;
  }
}
.media-notification{
  text-align: center;
  .notification-image{
    margin-bottom: 35px;
    img{
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  .notification-title{
    margin: 0 0 12px;
    font-size: 185.7%;
    line-height: 1.3;
    font-family: 'iciel_samsung_sharp_sansbold';
    font-weight: 700;
    color: map-get($global-color, b);
    background-color: map-get($global-color, a);
  }
  .notification-para{
    margin-bottom: 1rem;
    font-size: 100%;
    color: map-get($global-color, b);
    span{
      display: block;
    }
  }
}
@media (min-width: 576px) {
  .modal-general {
    .modal-dialog {
      max-width: 440px;
      margin: 50px auto;
    }
  }
}
@media (max-width: 576px) {
  .modal-general {
    .modal-dialog {
      margin: 15px;
    }
  }
}
.link-registration{
  @media (max-width: 400px) {
    display: inline-block;
    clear: both;
  }
}
.contact-form-forgot {
  .label-control{
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #9B9B9B;
    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }
  .form-group {
    @include clearfix();
    margin-bottom: 1.5rem;
    .btn-registry{
      margin-left: 5px;
      float: right;
      @media screen and (max-width: 767px) {
        float: none;
        display: block;
        max-width: 160px;
        margin: 15px auto 0;
      }
    }
  }
  .form-control {
    @include border-radius(2px);
    font-size: 1.5rem;
    border-color: 1px solid map-get($global-color, k);
    padding: 0.7rem 1rem;
    height: 45px;
    &:focus{
      @include box-shadow(0 0 0 0.2rem rgba(47, 181, 18, 0.25));
      border-color: map-get($global-color, active);
      outline: 0;
    }
  }
  textarea.form-control{
    resize: vertical;
    height: 100px;
    overflow-y: auto;
  }
  select.form-control:not([size]):not([multiple]),
  select.form-control {
    height: 4rem !important;
  }
  .btn-contact{
    margin-top: 10px;
    .icons-send{
      margin-right: 7px;
    }
    @media screen and (max-width: 767px) {
      display: block;
      margin: 18px auto 0;
    }
  }
  @media screen and (max-width: 1050px) {
    padding-bottom: 2rem;
  }
}