/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

/* .section-breadcrumb{
  margin-top: -2.3rem;
  .breadcrumb{
    @include border-radius(0);
    padding: 0;
    margin-bottom: 2rem;
    background: none;
    .breadcrumb-item{
      font-size: 1.2rem;
      a{
        color: map-get($global-color, active);
        &:hover,
        &:focus{
          color: map-get($global-color, active);
          text-decoration: underline;
        }
      }
      &.active{
        color: map-get($global-color, b);
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: -1.3rem;
  }
} */

.section-breadcrumb {
  @include clearfix();
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 85.7%;
  font-weight: 500;
  display: block;
  color: map-get($global-color, b);
  background-color: #EEF1F4;
  border-bottom: 1px solid #E0E4EB;
  .breadcrumb{
    @include clearfix();
    @include border-radius(0);
    padding: 13px 0;
    margin-bottom: 0;
    background: none;
    display: block;
    .breadcrumb-item{
      display: inline-block;
    }
    .breadcrumb-item+.breadcrumb-item:before{
      padding-right: 10px;
      padding-left: 10px;
      width: 8px;
      height: 4px;
      content: '';
      vertical-align: middle;
      background: url(#{$base-url}/icons-breadcrumb@2x.png) 6px 0 no-repeat;
    }
  }
  span {
    a {
      color: map-get($global-color, a);
      &:hover,
      &:focus {
        text-decoration: underline;
        color: map-get($global-color, accent);
      }
    }
  }
}
.arrow-breadcrumb{
  position: relative;
  margin: 0 5px;
  top: -1px;
  display: inline-block;
  width: 4px;
  height: 6px;
  vertical-align: middle;
  background: url(#{$base-url}/icons-breadcrumb@2x.png) no-repeat;
  // -webkit-background-size: 100%;
  // background-size: 100%;
}