/*************************************
**************************************
These are the styles for
the button section
**************************************
**************************************/

//@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn {
  @include transition(all 0.2s ease-out 0s);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  text-decoration: none;
  border: 0;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
/* .btn:not(:disabled):not(.disabled):active, 
.btn:not(:disabled):not(.disabled).active{
  background-image: initial;
} */

.btn-signin{
  @include border-radius(100px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 7px 15px 6px 15px;
  min-height: 36px;
  font-size: 1.4rem;
  font-weight: 600;
  color: map-get($global-color, active);
  background-color: map-get($global-color, a);
  border: 1px solid map-get($global-color, a);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  min-width: 102px;
  &:before{
    position: relative;
    top: -2px;
    margin-right: 4px;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    background: transparent url(#{$base-url}/icon-user.svg) no-repeat scroll;
  }
  &:hover,&:focus, &:active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, active);
    background-color: map-get($global-color, hvr_button);
    border-color: map-get($global-color, hvr_button);
  }
}
.btn-search-filter{
  @include border-radius(100px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 7px 15px 6px 15px;
  min-height: 36px;
  font-size: 1.4rem;
  font-weight: 600;
  color: map-get($global-color, a);
  background-color: map-get($global-color, header);
  border: 1px solid map-get($global-color, header);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  min-width: 115px;
  &:before{
    position: relative;
    top: -2px;
    margin-right: 4px;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    background: transparent url(#{$base-url}/icon-search.svg) no-repeat scroll;
  }
  &:hover,&:focus, &:active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, a);
    background-color: #3269cc;
    border-color: #3269cc;
  }
}
.btn-csv{
  @include border-radius(100px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 7px 15px 6px 14px;
  min-height: 36px;
  font-size: 1.4rem;
  font-weight: 600;
  color: map-get($global-color, active);
  background-color: map-get($global-color, a);
  border: 1px solid map-get($global-color, active);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  min-width: 115px;
  &:before{
    position: relative;
    top: -2px;
    margin-right: 4px;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    background: transparent url(#{$base-url}/icon-csv.svg) no-repeat scroll;
  }
  &:hover,&:focus, &:active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, a);
    background-color: map-get($global-color, active);
    border-color: map-get($global-color, active);
    &:before{
      background: transparent url(#{$base-url}/icon-csv-hvr.svg) no-repeat scroll;
    }
  }
}
.btn-share{
  @include border-radius(100px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 7px 15px 6px 14px;
  min-height: 36px;
  font-size: 1.4rem;
  font-weight: 600;
  color: map-get($global-color, active);
  background-color: map-get($global-color, a);
  border: 1px solid map-get($global-color, active);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  min-width: 115px;
  &:before{
    position: relative;
    top: -2px;
    margin-right: 4px;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    background: transparent url(#{$base-url}/icon-share.svg) no-repeat scroll;
  }
  &:hover,&:focus, &:active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, a);
    background-color: map-get($global-color, active);
    border-color: map-get($global-color, active);
    &:before{
      background: transparent url(#{$base-url}/icon-share-hvr.svg) no-repeat scroll;
    }
  }
}
.btn-tracking{
  @include border-radius(6px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 12px 14px 12px 17px;
  min-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  color: map-get($global-color, c);
  background-color: map-get($global-color, a);
  border: 1px solid map-get($global-color, a);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  &:before{
    position: relative;
    top: -2px;
    margin-right: 4px;
    content: '';
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    background: transparent url(#{$base-url}/icon-tracking.svg) no-repeat scroll;
  }
  &:hover,&:focus, &:active,&.active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, a);
    background-color: map-get($global-color, active);
    border-color: map-get($global-color, active);
    &:before{
      background: transparent url(#{$base-url}/icon-tracking-hvr.svg) no-repeat scroll;
    }
  }
  @media screen and (max-width: 390px) {
    padding: 15px 10px 12px 6px;
    font-size: 1.3rem;
  }
}
.btn-apply{
  @include border-radius(100px);
  @include box-shadow(none);
  @include transition(all 0.2s ease 0s);
  position: relative;
  padding: 7px 10px 6px;
  min-height: 36px;
  font-size: 1.4rem;
  font-weight: 600;
  color: map-get($global-color, a);
  background-color: map-get($global-color, active);
  border: 1px solid map-get($global-color, active);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  min-width: 89px;
  min-height: 36px;
  &:hover,&:focus, &:active {
    @include box-shadow(none);
    @include transition(all 0.3s ease 0s);
    color: map-get($global-color, active);
    background-color: map-get($global-color, a);
    border-color: map-get($global-color, active);
  }
}