/*************************************
**************************************
These are the styles for
the element section
**************************************
**************************************/
.tabs-top{
  @include clearfix();
}
.blog-tabs {
  float: right;
  list-style: none;
  padding: 0;
  margin: -3.8rem 0 1rem;
  li {
    padding: 0 10px;
    float: left;
    a {
      text-transform: uppercase;
      color: map-get($global-color, b);
      &:hover,
      &:focus {
        color: map-get($global-color, active);
      }
    }
    &.active,
    &.current-menu-item,
    &.current-category-ancestor,
    &.current-post-parent {
      a {
        font-weight: bold;
        color: map-get($global-color, active);
        @media screen and (max-width: 550px) {
          font-weight: normal;
        }
      }
    }

    @media screen and (max-width: 550px) {
      margin-bottom: 5px;
      padding: 0 5px;
      font-size: 1.4rem;
    }
    @media screen and (max-width: 390px) {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: 0;
  }
  @media screen and (max-width: 390px) {
    overflow: hidden;
    float: none;
  }
}
// Select box
.select__box {
  @include border-radius (0.5rem);
  position: relative;
  display: block;
  margin: 10px auto;
  height: 5rem;
  max-width: 25rem;
  width: 100%;
  cursor: pointer;
  font-family: $font-family-d;
  background: #fa943e;
  &:focus {
    background-color: darken(map-get($global-color, primary), 5.5%);
  }
  &.disabled,
  &.disabled:focus {
    background: #cacac8;
    cursor: not-allowed;
  }
  .select__box__label {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 1rem 1.1rem 1.2rem;
    font-size: 2rem;
    overflow: hidden;
    line-height: 2.8rem;
    white-space: nowrap;
    text-align: center;
    color: map-get($global-color, c);
    &::after {
      margin-left: 0.6rem;
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
      border-top: 0.8rem solid map-get($global-color, c);
      content: '';
    }
  }
  .select__box__actual {
    position: relative;
    z-index: 2;
    padding: 1.1rem;
    opacity: 0;
    font-size: 2rem;
    line-height: 2.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
    color: map-get($global-color, a);
    background: none;
    &:focus {
      z-index: -1;
      opacity: 1;
    }
  }
}

// Radio button
.radio__circle {
  display: inline-block;
  padding: 0;
  .radio__circle__inner {
    @include border-radius(50%);
    display: block;
    margin: 0 auto;
    min-width: 6rem;
    width: 6rem;
    min-height: 6rem;
    height: 6rem;
    background: #ccc;
    font-family: $font-family-d;
    color: #fff;
    font-size: 1.4rem;
    box-sizing: border-box;
    line-height: 6rem;
    text-align: center;
    cursor: pointer;
    &.radio__circle__inner--long {
      @include border-radius(30px);
      height: 5rem;
      min-height: 5rem;
      min-width: 6rem;
      width: 14rem;
      padding: 0;
      font-size: 2rem;
      line-height: 5rem;
    }
  }
  .radio__circle__input {
    display: none;
    &:checked {
      +label {
        background: #fa943e;
      }
    }
  }
}

.radio__circle:first-child:nth-last-child(1) {
  width: 100%;
}

.radio__circle:first-child:nth-last-child(2),
.radio__circle:first-child:nth-last-child(2)~.radio__circle {
  width: 49.4826%;
}

.radio__circle:first-child:nth-last-child(3),
.radio__circle:first-child:nth-last-child(3)~.radio__circle,
.radio__circle:first-child:nth-last-child(6),
.radio__circle:first-child:nth-last-child(6)~.radio__circle {
  width: 32.643%;
}

.radio__circle:first-child:nth-last-child(4),
.radio__circle:first-child:nth-last-child(4)~.radio__circle,
.radio__circle:first-child:nth-last-child(8),
.radio__circle:first-child:nth-last-child(8)~.radio__circle {
  width: 24.221%;
}

// Regular radio
.radio__regular {
  padding: 0.7rem 0 0.8rem;
  .radio__regular__input {
    opacity: 0;
    position: absolute;
    +.radio__regular__label {
      position: relative;
      padding-top: 2px;
      padding-left: 3.3rem;
      margin-bottom: 0;
      font-weight: normal;
      display: block;
      font-size: 1.4rem;
      min-height: 2.4rem;
      line-height: 2.4rem;
      cursor: pointer;
      outline: 0;
      &::before {
        @include abs-pos ($top: 0.1rem, $right: auto, $bottom: auto, $left: 0);
        @include border-radius(50%);
        @include transition(all .3s ease);
        content: '';
        background: #ffffff;
        border: 0.1rem solid #D4DBE6;
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.3rem;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
      }
    }
    &:checked+.radio__regular__label::before {
      @include transition(all .3s ease);
      @include scale(1);
      background-color: #3267c4;
      box-shadow: inset 0 0 0 0.2rem #fff;
    }
     :focus+.radio__regular__label::before {
      outline: 0;
      border-color: #ccc;
    }
    +.radio__regular__label:empty::before {
      margin-right: 0;
    }
  }
}

// Regular checkbox
.checkbox__styled {
  font-family: $font-family-d;
  padding: 0.7rem 0 0.8rem;
  .checkbox__styled__input {
    display: none;
    opacity: 0;
    &:checked {
      +.checkbox__styled__label {
        &::after {
          @include transition(all .3s ease);
          @include transition(all .3s ease);
          @include abs-pos ($top: 0.5rem, $right: auto, $bottom: auto, $left: 0.9rem);
          content: " ";
          display: block;
          width: .4em;
          height: .7em;
          border: solid #fff;
          border-width: 0 .2rem .2rem 0;
          -moz-transform: rotate(45deg) scale(1);
          -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
        }
        &::before {
          background: #fa943e;
        }
      }
    }
  }
  .checkbox__styled__label {
    position: relative;
    padding-left: 3.6rem;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    cursor: pointer;
    font-size: 1.9rem;
    line-height: 2.5rem;
    &::after {
      @include transition(all .3s ease);
      @include abs-pos ($top: 0.5rem, $right: auto, $bottom: auto, $left: 0.9rem);
      -moz-transform: rotate(45deg) scale(1.5);
      -webkit-transform: rotate(45deg) scale(1.5);
      transform: rotate(45deg) scale(1.5);
      content: " ";
      display: block;
      width: .4em;
      height: .7em;
      border: solid #ccc;
      border-width: 0 .2rem .2rem 0;
    }
    &::before {
      @include abs-pos ($top: 0.1rem, $right: auto, $bottom: auto, $left: 0);
      @include transition(all .3s ease);
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.1em;
      border-radius: 50%;
      background: #ccc;
    }
    &:empty::before {
      margin-right: 0;
    }
  }
}