/*************************************
**************************************
These are the styles for
the header section
**************************************
**************************************/
.header-wrap{
  @include clearfix();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  @media screen and (max-width: 800px) {
    position: relative;
  }
  
}
#header {
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.07));
  position: relative;
  top: 0;
  z-index: 100;
  min-height: 60px;
  width: 100%;
  color: map-get($global-color, a);
  background-color: map-get($global-color, header);
  .logo {
    margin: 6px 0 0 9px;
    padding: 0;
    float: left;
    width: 360px;
    height: 48px;
    color: map-get($global-color, a);
    background-color: map-get($global-color, header);
    h1,
    p {
      margin: 0;
      width: 360px;
      height: 48px;
      background: url(#{$base-url}/logo-pc.svg) no-repeat map-get($global-color, active) scroll;
      -webkit-background-size: 100%;
      background-size: 100%;
      overflow: hidden;
      a {
        display: block;
        width: 360px;
        height: 48px;
        @media screen and (max-width: 640px) {
          width: 48px;
          height: 48px;
        }
      }
      span {
        display: block;
        width: 360px;
        height: 48px;
        position: relative;
        z-index: -1;
        overflow: hidden;
        @media screen and (max-width: 640px) {
          width: 48px;
          height: 48px;
        }
      }
      @media screen and (max-width: 640px) {
        width: 60px;
        height: 48px;
        background: url(#{$base-url}/logo-sp.svg) no-repeat map-get($global-color, active) scroll;
      }
    }
    @media screen and (max-width: 640px) {
      width: 60px;
      height: 48px;
    }
  }
}
#sma-navi{
  color: map-get($global-color, b);
  background-color: map-get($global-color, active);
}
.header-main{
  @include clearfix();
  margin-left: 379px;
  .header-main-inner{
    @include clearfix();
    padding: 12px 9px 5px;
    float: left;
    width: 100%;
    min-height: 60px;
    .group-action{
      float: right;
    }
  }
  @media screen and (max-width: 640px) {
    margin-left: 79px;
  }
}

/*************************************
**************************************
No Javascript
**************************************
**************************************/
.no-javascript #header {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.no-javascript .navigation{
  display: none;
}