/*************************************
**************************************
These are the styles for
the icons section
**************************************
**************************************/

[class^="icons-"],
[class*=" icons-"] {
	position: relative;
	z-index: 10;
  display: inline-block;
  *margin-right: .3em;
  vertical-align: middle;
  background-image: url("../images/front/sprite.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [class^="icons-"],
  [class*=" icons-"] {
    background-image: url("../images/front/sprite@2x.png") !important;
  }
}
//icons normal
//@include sprites($spritesheet-sprites);
//icons retina
@include retina-sprites($retina-groups);

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}
.icon-search{
  width: 16px;
  height: 16px;
  vertical-align: top;
  background: url(#{$base-url}/icon-search.svg) no-repeat scroll transparent !important;
}
