/*************************************
**************************************
Layout
**************************************
**************************************/

#region-main {
  @include clearfix();
  margin: 0;
  clear: both;
  width: 100%;
}

.wrap-col-left {
  position: relative;
  z-index: 3;
  float: left;
  @media screen and (max-width: 640px) {
    float: none;
    // display: none;
  }
}

.wrap-col-right {
  position: relative;
  z-index: 1;
  float: right;
  @media screen and (max-width: 640px) {
    float: none;
  }
}

.column-left .wrap-col-main {
  width: 100%;
  float: right;
  @media screen and (max-width: 640px) {
    float: none;
  }
}

.column-rnavi .wrap-col-main {
  width: 100%;
  float: left;
  @media screen and (max-width: 640px) {
    float: none;
  }
}

.col-main-inner {
  padding: 0;
}

.define-child .wrap-col-left {
  width: 496px;
  margin-right: -496px;
  @media screen and (max-width: 1280px) {
    width: 400px;
    margin-right: -400px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-right: 0;
  }
}

.define-child .col-left-inner {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    padding: 15px;
    min-height: inherit;
  }
}

.define-child .wrap-col-right {
  width: 300px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.define-child .col-right-inner {
  color: map-get($global-color, b);
  background-color: map-get($global-color, a);
}

.define-child .column-left .col-main-inner {
  margin-left: 496px;
  @media screen and (max-width: 1280px) {
    margin-left: 400px;
  }
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.define-child .column-rnavi .wrap-col-main {
  margin-right: -310px;
  @media screen and (max-width: 800px) {
    margin-right: 0;
  }
}

.define-child .column-rnavi .col-main-inner {
  margin-right: 310px;
  @media screen and (max-width: 800px) {
    margin-right: 0;
  }
}