/*************************************
**************************************
These are the styles for
the main content section
**************************************
**************************************/

.container {
  @include clearfix();
  padding: 0;
  @media screen and (min-width: 992px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1440px;
  }
  @media screen and (max-width: 1160px) {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}
.container-sm{
  @include clearfix();
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 774px;
}
#wrapper {
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  padding-top: 121px;
  @media screen and (max-width: 800px) {
    padding-top: 0;
  }
}


/*----- Content -----*/

#page-content {
  @include clearfix();
}
.change-bg{
  color: map-get($global-color, b);
  background-color: #eef1f4;
}
.main-content {
  @include word-wrap();
}

.right-content {
  @include clearfix();
}

#page-content:before,
#page-content:after {
  content: "";
  display: table;
}

#page-content:after {
  clear: both;
}


/*equal-height*/

.equal-height-item {
  @include equal_height();
}

.page-title {
  margin-bottom: 10px;
}

.effect-image {
  overflow: hidden;
  position: relative;
}

.effect-image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.effect-image:hover img,
.effect-image:focus img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.3s cubic-bezier(0.23, 1, 0.32, 1);
}


/*effect dropdown*/

.bootstrap-datetimepicker-widget.dropdown-menu {
  @include opacity(1);
  display: block;
  visibility: visible;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}


/* ==================================================
skip
================================================== */

.paragraph-skip {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.skip {
  width: 1px;
  color: #000000;
  font-size: 0.1%;
  line-height: 0.1;
  background-color: #FFFFFF;
  position: absolute;
  left: -3000px;
  z-index: 9999;
}

a.skip {
  color: #003377;
  background-color: #FFFFFF;
  text-align: center;
  padding: 5px 0 7px;
  top: auto;
}

a.skip:active {
  display: block;
  width: 99.99%;
  font-size: 100%;
  line-height: 1.6;
  top: 0;
  left: 0;
}

a.skip:focus {
  display: block;
  width: 99.99%;
  font-size: 100%;
  line-height: 1.6;
  top: 0;
  left: 0;
}
.tab-content{
  position: relative;
  >.tab-pane{
    display: block !important;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  >.active {
    visibility: visible;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
  }
}
/*************************************
**************************************
Accessiility
**************************************
**************************************/
/* ==================================================
No Javascript
================================================== */

.no-js .mean-aside {
  display: none;
}