/*************************************
**************************************
These are the styles for
the navigation section
**************************************
**************************************/
/* hide menu sp
================================================== */
#sma-search{
  @include clearfix();
  position: relative;
  margin-bottom: 3rem;
  display: none;
  border-bottom: 1px solid #d1d5db;
}
#nav-control-sp{
  display: inline-block;
  display: none;
  vertical-align: middle;
  @media screen and (max-width: 1350px) {
    display: inline-block;
  }
}
#sub-menu-sp {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  color: #64686e;
  background-color: #ffffff;
}
#sub-menu-sp .close_btn {
  display: none;
  @media screen and (max-width: 1350px) {
    display: block;
  }
}
/* device_change
================================================== */
.wrap_mc_pc,
.wrap_mc_sp {
  display: none;
}

.disp_pc .wrap_mc_sp,
.disp_pc .wrap_mc_sp #tmp_switch_sp_style {
  display: block;
}

.disp_pc #nav-control-sp,
.disp_pc #sub-menu-sp,
.device_sp #sub-menu-sp{
  display: none;
}

/* sp_menu
================================================== */
@media screen and (max-width: 1350px) {
  .spmenu_open {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    background: #ffffff;
    color: #222222;
    &:before {
      content: "";
      min-height: 100%;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      cursor: pointer;
    }
  }

  .spmenu_open #sub-menu-sp .close_btn {
    display: block;
  }

  #nav-control-sp {
    padding: 0;
    margin: 0 0 0 12px;
    width: 42px;
    height: 37px;
    list-style: none;
  }

  .spmenu_open #nav-control-sp {
    display: inline-block;
    list-style: none;
  }
  .spmenu_open #sub-menu-sp{
    display: block;
  }
  #nav-control-sp li a {
    @include border-radius(4px);
    display: block;
    width: 42px;
    height: 37px;
    text-decoration: none;
    color: map-get($global-color, b);
    background-color: map-get($global-color, active);
  }

  .sma_menu_open .menu_text {
    padding-top: 33px;
    display: block;
    font-size: 1rem;
    color: map-get($global-color, active);
    line-height: 1.1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .sma_menu_open.active .menu_text {
    color: map-get($global-color, active);
  }

  .sma_menu_open {
    position: relative;
  }

  .sma_menu_open .menu_icon {
    @include border-radius(5px);
    position: absolute;
    top: 17px;
    left: 5px;
    margin-left: 1px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    color: #000000;
    z-index: 10;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .sma_menu_open .menu_icon:before,
  .sma_menu_open .menu_icon:after {
    @include border-radius(5px);
    content: '';
    height: 3px;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    top: 0;
    z-index: 1;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .sma_menu_open .menu_icon:before {
    top: -9px;
    width: 30px;
  }

  .sma_menu_open .menu_icon:after {
    top: 9px;
    width: 30px;
  }

  .sma_menu_open.active {
    // background-color: map-get($global-color, b);
  }

  .sma_menu_open.active .menu_icon {
    // background-color: map-get($global-color, b);
    background-color: transparent;
  }

  .sma_menu_open.active .menu_icon:before {
    top: 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ffffff;
  }

  .sma_menu_open.active .menu_icon:after {
    width: 30px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #ffffff;
    top: 0;
  }
  .close_btn{
    margin: 15px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($global-color, a);
    a{
      padding: 10px;
      border: 2px solid map-get($global-color, active);
      display: inline-block;
      min-width: 200px;
      color: map-get($global-color, a);
      &:hover,
      &:focus{
        color: map-get($global-color, active);
      }
    }
  }
}